ion-title.center-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

ion-input {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}
