<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-title>設定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>画面ロックを有効にする</ion-label>
      <ion-toggle
        slot="end"
        [checked]="lockEnabled"
        (ionChange)="onToggleLock($event)"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>データのバックアップ</ion-label>
      <ion-button (click)="exportData()">書き出し</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>データの復元</ion-label>
      <ion-button (click)="importData()">読み込み</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
