<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>日記</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>カレンダー</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>設定</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
