<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="insertImage()">
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="delete()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button fill="outline" (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ date | date: 'yyyy/MM/dd' }} ({{ weekDay[date.getDay()] }})
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar class="tag-toolbar">
  <ion-item color="light" class="tag-chips" lines="full">
      <div>
        @for (t of tags; track t) {
          <ion-chip outline="true">
            <ion-label>{{ t.name }}</ion-label>
            @if (t.editable) {
              <ion-icon name="close-circle-outline" (click)="removeTag($index)"></ion-icon>
            }
          </ion-chip>
        }
          <ion-input
            #input
            [placeholder]="isFocused ? '' : 'タグを入力'"
            (ionFocus)="isFocused = true"
            (ionBlur)="isFocused = false"
            (ionChange)="detectChangeTag($any($event))"
            (keydown.enter)="input.setFocus()"
            enterkeyhint="done"
            [(ngModel)]="inputTag"
            name="inputTag"
          ></ion-input>
      </div>
    </ion-item>
</ion-toolbar>

<ion-content>
  <div id="editor"
       contenteditable="true" (input)="detectChangeText()" data-placeholder="本文を入力してください">
  </div>
</ion-content>
