<!-- メニュー -->
<ion-menu contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-list-header>タグ一覧</ion-list-header>
      @for (tag of uniqueTags; track tag) {
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" detail="false" >
            <ion-chip [color]="tagStyles.get(tag)?.color"
                      [outline]="tagStyles.get(tag)?.outline"
                      (click)="toggleTag(tag)"
                      long-press [delay]="700" (press)="deleteUniqueTag(tag)">
              <ion-label>{{ tag }}</ion-label>
            </ion-chip>
          </ion-item>
        </ion-menu-toggle>
      }
    </ion-list>
  </ion-content>
</ion-menu>

<!-- メインページ -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>タグ付き日記</ion-title>
      <ion-buttons slot="end">
        <ion-button autoHide="false">
          <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding" class="has-header">
    <ion-list>
      @for (d of diary; track d) {
        <ion-item button detail="false" 
                  (click)="goEdit(d.id)"
                  long-press [delay]="700"
                  (press)="deleteEntry(d.id)">
          <ion-label>
            <h2>{{ d.date | date: 'yyyy/MM/dd (EEE) HH:mm' }}</h2>
            <p>{{ d.content | slice:0:40 }}{{ d.content.length > 40 ? '...' : '' }}</p>
            <div class="tags">
              @for (tag of d.tags; track tag) {
                <ion-chip [color]="tagStyles.get(tag)?.color"
                          [outline]="tagStyles.get(tag)?.outline"
                          (click)="selectTag(tag, $event)"
                          long-press [delay]="700" 
                          (press)="deleteTag(tag, d.id)">
                  <ion-label>{{ tag }}</ion-label>
                </ion-chip>
              }
            </div>
          </ion-label>
        </ion-item>
      }
    </ion-list>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="addArticle()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  <ion-footer class="ad-footer">
    <div class="ad-container">
      <!-- 広告コードをここに埋め込む -->
      <img src="..\assets\banner_7910.jpeg" alt="広告" class="ad-banner"/>
    </div>
  </ion-footer>
</div>