<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      日記
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (d of diary; track $index) {
      <ion-item  [routerLink]="['/edit-page/' + $index]">
        <ion-label>{{d.article}}</ion-label>
      </ion-item>  
    }
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addArticle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
