

ion-title {
  text-align: center;
}


ion-card {
  margin-bottom: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: var(--ion-color-medium);
}

.tags {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}


.ad-footer {
  --background: #f8f8f8; /* 広告の背景色 */
  border-top: 1px solid #ddd;

  .ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
  }

  .ad-banner {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
}