<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="delete()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button fill="outline" (click)="save()">
        保存
        <ion-icon slot="end" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      日記を書く
    </ion-title>
  </ion-toolbar>

  <ion-item color="light" class="tag-chips" lines="full">
      <div>
        @for (t of tags; track t) {
          <ion-chip outline="true">
            <ion-label>{{ t }}</ion-label>
            <ion-icon name="close-circle-outline" (click)="removeTag($index)"></ion-icon>
          </ion-chip>
        }
          <ion-input
            rows="1"
            placeholder="タグを入力"
            (ionChange)="detectChangeTag($any($event))"
            [(ngModel)]="inputTag"
            name="inputTag"
          ></ion-input>
      </div>
    </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="frm">
    
    <ion-textarea class="tarea" [autoGrow]="true" [(ngModel)]="txt" name="txt" placeholder="日記を入力"></ion-textarea>
  </form>
</ion-content>
