header {
  position: sticky !important;
  top: 0 !important;
}

.header-toolbar {
   padding-top: 18px !important;
}


ion-item.tag-chips {
  --padding-start: 16px;
  div {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}


ion-content {
  --padding-bottom: 24px;
}


#editor {
  height: 100%;
  padding: 16px;
  font-size: 1.05rem;
  line-height: 1.3;
  outline: none;
  overflow-y: auto;
}
