<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="insertImage()">
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="delete()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button fill="outline" (click)="save()">
        
      <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ date | date: 'yyyy/MM/dd' }} ({{ weekDay[date.getDay()] }})
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar class="tag-toolbar">
  <ion-item color="light" class="tag-chips" lines="full">
      <div>
        @for (t of tags; track t) {
          <ion-chip outline="true">
            <ion-label>{{ t.name }}</ion-label>
            @if (t.editable) {
              <ion-icon name="close-circle-outline" (click)="removeTag($index)"></ion-icon>
            }
          </ion-chip>
        }
          <ion-input
            rows="1"
            placeholder="タグを入力"
            (ionChange)="detectChangeTag($any($event))"
            [(ngModel)]="inputTag"
            name="inputTag"
          ></ion-input>
      </div>
    </ion-item>
</ion-toolbar>

<ion-content>
  <div id="editor" style="height: 300px;"></div>
    <!-- <quill-editor [(ngModel)]="txt"
                  name="txt" 
                  [modules]="{ toolbar: false , preserveWhiteSpace: true}" 
                  [placeholder]="''" 
                  (onEditorCreated)="onEditorCreated($event)"
    ></quill-editor> -->
    <!-- <ion-textarea
      #txtArea
      class="tarea"
      [(ngModel)]="txt" 
      name="txt"
      auto-grow="true"
      placeholder="日記を入力"
    ></ion-textarea> -->
</ion-content>
