header {
  position: sticky !important;
  top: 0 !important;
}

.header-toolbar {
   padding-top: 18px !important;
}


ion-item.tag-chips {
  --padding-start: 16px;
  div {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}


ion-content {
  --padding-bottom: 24px;
}



